extends layout                                                                                                                                                   
 
block content
  h1.text-center 
    span(class="fa fa-pencil")
    |  SignUp

  div(class="col-sm-6 col-sm-offset-3")
    form(action='/signup', method='post')
      div(class="form-group")
        label Username
        input(class="form-control", type='text', name='username' required)
      div(class="form-group")
        label Password
        input(class="form-control", type='password', name='password' required)
      button(class="btn btn-warning btn-lg", type='submit') SignUp
    hr
    p Already have an account? 
      a(href="/login") Login
