.form-selector i
{
    margin-right: 15px;
    cursor: pointer;
}

/*************************/
/*STAR RATING STYLES*/
/*************************/
.rating
{
    margin: 0 auto;
    width: 150px;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
 *    follow these rules. Every browser that supports :checked also supports :not(), so
 *       it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input
{
    position: absolute;
    top: -9999px;
    clip: rect(0,0,0,0);
}

.rating:not(:checked) > label
{
    float: right;
    margin-top: 0px;
    width: 1em;
    padding: 0 .1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    line-height: 1.2;
    color: #ddd;
}

.rating:not(:checked) > label:before
{
    content: '★';
}

.rating > input:checked ~ label
{
    color: #f70;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label
{
    color: #f0ad4e;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label
{
    color: #ea0;
    margin-top: 0px;
}

.rating > label:active
{
    position: relative;
    top: 2px;
    left: 2px;
}

[data-rating]:before
{
    color: #f0ad4e;
    font-size: 25px;
}

[data-rating="1"]:before
{
    content: "*";
}

[data-rating="2"]:before
{
    content: "**";
}

[data-rating="3"]:before
{
    content: "***";
}

[data-rating="4"]:before
{
    content: "****";
}

[data-rating="5"]:before
{
    content: "*****";
}

/*clear submit button for proper layout*/
.mySubmit 
{
    clear: both;
}


.main-container
{
    width: 970px;
    margin: 25px auto;
}

header
{
    width: 970px;
    margin: auto;
}

form 
{
    padding: 8px 0 8px 0;
}

legend
{
    border-bottom: 0px;
}

fieldset
{
    padding-bottom: 10px;
}

.preview-box
{
    padding: 10px 0 10px 0;
}

.preview-box .img-container
{
    float: left;
    margin-bottom: 20px;
}

.preview-box .img-container img
{
    width: 128px;
}

.preview-box .description
{
    float: left;
    margin-left: 20px;
    margin-bottom: 15px;
    width: 810px;
    height: 205px;
}

.preview-box .controls
{
    clear: both;
}

.preview-box .controls .btn-success
{
    margin-right: 20px;
}

table td img
{
    width: 50px;
}

.list-container
{
    margin-top: 40px;
}

.username
{
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-magic
{
    width: 50%;
}

input[type="radio"].button-magic
{
    display:none;
}

input[type="radio"].button-magic:checked + label
{
    background-color: #eee;
}

.formPreview
{
    margin-bottom: 50px;
}

.table tbody tr td
{
    vertical-align: middle;
}

div.sign-out
{
    display: inline-block;
    position: relative;
    top: -37px;
    left: 705px;
}

div.user-control
{
    display: inline-block;
    position: relative;
    top: -37px;
}

.input-form
{
    width: 50%;
    margin-left: 25%;
}
