.form-selector i
{
    margin-right: 15px;
    cursor: pointer;
}

/*************************/
/*STAR RATING STYLES*/
/*************************/
.rating
{
    margin: 0 auto;
    width: 85px;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
 *    follow these rules. Every browser that supports :checked also supports :not(), so
 *       it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input
{
    position: absolute;
    top: -9999px;
    clip: rect(0,0,0,0);
}

.rating:not(:checked) > label
{
    float: right;
    width: 1em;
    padding: 0 .1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 100%;
    line-height: 1.2;
    color: #ddd;
    text-shadow: 1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before
{
    content: '★';
}

.rating > input:checked ~ label
{
    color: #f70;
    text-shadow: 1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label
{
    color: gold;
    text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label
{
    color: #ea0;
    text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active
{
    position: relative;
    top: 2px;
    left: 2px;
}

[data-rating]:before
{
    color: gold;
    text-shadow: 1px 1px goldenrod, 2px 2px #B57340;
    font-size: 25px;
}

[data-rating="1"]:before
{
    content: "*";
}

[data-rating="2"]:before
{
    content: "**";
}

[data-rating="3"]:before
{
    content: "***";
}

[data-rating="4"]:before
{
    content: "****";
}

[data-rating="5"]:before
{
    content: "*****";
}

/*clear submit button for proper layout*/
.mySubmit 
{
    clear: both;
}


.main-container
{
    width: 970px;
    margin: 50px auto;
}

form 
{
    padding: 8px 0 8px 0;
}

form, .preview-box
{
    border: 1px solid #ccf;
    border-width: 1px 0px 1px 0px;
}

legend
{
    border-bottom: 0px;
}

fieldset
{
    padding-bottom: 10px;
}

.preview-box
{
    padding: 10px 0 10px 0;
}

.preview-box .img-container
{
    float: left;
    margin-bottom: 80px;
}

.preview-box .img-container img
{
    width: 128px;
}

.preview-box .description
{
    float: left;
    margin-left: 20px;
    margin-bottom: 15px;
    width: 810px;
    height: 205px;
}

.preview-box .controls .btn-success
{
    margin-right: 20px;
    margin-left: 20px;
}

table td img
{
    width: 50px;
}
