div.formPreview
  form(class="form-horizontal text-center hide" id="addBook" action="addBook" method="POST" autocomplete="off")
    fieldset
      legend Enter new books below

      div.controls
        input(placeholder="isbn" name="isbn" id="isbn" type="text")

      div.controls
        input(placeholder="Author" name="author" id="author" type="text")

      div.controls
        input(placeholder="Title" name="title" id="title" type="text")

      
      div.controls
        input(placeholder="yyyy-mm-dd" name="date" id="date" type="date")

      div.controls
        label.radio.inline
            input(type="radio", name="book_lang", value="en", checked="")
            |English
        label.radio.inline
            input(type="radio", name="book_lang", value="de")
            |Deutsch

      div.controls
        label.radio.inline
            input(type="radio", name="book_type", value="fiction", checked="")
            |Fiction
        label.radio.inline
            input(type="radio", name="book_type", value="non-fiction")
            |Non-Fiction

      div.controls
        label
          |Rate this book
        div.rating
          input(type="radio" id="star5" name="rating" value="5")
          label(class="radio" for="star5" title="Algebraic!")
          input(type="radio" id="star4" name="rating" value="4")
          label(class="radio" for="star4" title="Pretty good")
          input(type="radio" id="star3" name="rating" value="3")
          label(class="radio" for="star3" title="Ok")
          input(type="radio" id="star2" name="rating" value="2")
          label(class="radio" for="star2" title="Kinda bad")
          input(type="radio" id="star1" name="rating" value="1")
          label(class="radio" for="star1" title="Nope!")

      div.controls.mySubmit
        button(id="addBookBtn" type="submit" class="btn btn-primary btn-large") Add this book!

  div.preview-box.hide
    div.img-container.fade
    div.description.fade
    div.controls.fade
      span
        button.btn.btn-success.book-accept Yes, that's it!
        button.btn.btn-warning.book-decline Nope, not it.
