extends ../../../views/layout                                                                                                                                                   

block content
    div.main-container
      div
        div.form-selector
          i.icon-barcode

      include _form
      div.list-container
        table.center-table.list-wrapper.table.table-condensed
          thead
            tr
              th #
              th Title
              th Author
              th Date Added
              th Type
              th Lang
              th Rating
              th Cover
          <!-- beginning table body -->
          include _booktable
