extends ../../../views/layout                                                                                                                                                   

block content
    div.main-container
      div
        div.form-selector
          i.icon-barcode

      include _form
      include _booktable
